@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}
.cabecalho {
    display: flex;
    justify-content: center;
    padding: 2%;
}
.cabecalho-menu {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.cabecalho-menu-botao {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-tercearia);
    font-weight: 600;
}
.cabecalho-menu-botao:hover {
    text-shadow: 0px 0px 10px #f6f6f6;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 15%;
    gap: 82px;
}
.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 40px;
}
.destaque {
    color: var(--cor-tercearia);
}
.apresentacao-conteudo-titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;

}
.apresentacao-conteudo-texto {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}
.content-botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.content-botao-texto {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-tercearia);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1rem;
    gap: 16px;
}
.botao:hover {
    background-color: #272727;
}

.apresentacao-imagem {
    width: 40%;

}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    width: 100%;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}
.rodape-texto {
    font-weight: 400;
    padding: 10px;
}

@media (max-width: 1200px ) {
    .cabecalho {
        padding: 5%;
    }
    
    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao-conteudo {
        width: auto;
    }

}
@media (max-width: 366px) {
    .cabecalho-menu {
        gap: 30px;
    }
    .cabecalho-menu-botao {
        font-size: 0.7rem;
    }
    .apresentacao-conteudo-titulo {
        font-size: 1.5rem;
    }
    .apresentacao-conteudo-texto {
        font-size: 0.9rem;
    }
    .content-botao-texto {
        font-size: 0.9rem;
    }
    .botao {
        width: 136px;
        padding: 10px 0px;
    }
}
